.image-card {
  width: 100%;

  object-fit: cover;
}

#lightbox-img {
  height: 60vh;
  max-width: 90vw;
}

#lightbox {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*Completely optional styling that has nothing to do with the lightbox*/
button {
  color: white;
  border: 2px solid #000;
  background-color: #000;
  font-size: 1.2rem;
}

a {
  color: #7a4baa;
}

h1 {
  color: #7a4baa;
}

p {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

img:hover,
button:hover {
  cursor: pointer;
}

.hoverbg {
  opacity: 0;
  transition: 0.6s opacity;
}

.hoverbg:hover {
  opacity: 1;
  cursor: pointer;
}

.hoverbg .icon {
  top: 30%;
  left: 40%;
}
